.idea
composer.lock
selenium-server-standalone-*.jar
phantomjs-*
vendor
tests/_output
codeception.yml
acceptance.suite.yml
codeception.yml.console
.DS_store
tests/_support/_generated/
_bootstrap_dev.php
functional.suite.yml
